@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@900&display=swap");

body {
	margin: 0 auto;
	max-width: 800px;
	padding: 40px;
}

#zen-intro h2 abbr {
	font-size: 5rem;
	font-weight: 900;
}

#zen-preamble h3:last-child {
	font-size: 5rem;
	font-weight: 900;
}

h1 {
	color: white;
	background-color: black;
	padding: 10px;
}

h2,
h3 {
	font: 2em "montserrat", serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

p {
	margin-top: 10px;
	text-align: justify;
	font: 14px "lora", serif;
}

#zen-intro {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 50px;
	grid-template-rows: 0.5fr 0.5fr 1fr;
	row-gap: 20px;
	background: url("https://images.pexels.com/photos/3849160/pexels-photo-3849160.jpeg?auto=compress&cs=tinysrgb&w=1600");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 400px 100%;
}

#zen-summary {
	grid-column: 1/2;
	grid-row: 2/3;
}

#zen-preamble {
	grid-column: 1/2;
	grid-row: 3/4;
}

#zen-explanation,
#zen-requirements {
	background-color: rgb(237, 237, 237);
	padding: 20px 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#zen-explanation {
	grid-column: 1/3;
	grid-row: 1/2;
}

#zen-participation {
	grid-column: 2/3;
	grid-row: 2/3;
}

#zen-benefits {
	grid-column: 2/3;
	grid-row: 3/4;
}

div #zen-supporting {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 50px;
	grid-template-rows: repeat(4, 0.5fr);
	row-gap: 20px;
	background: url("https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 400px 54%;
}

#zen-requirements {
	grid-column: 1/3;
	grid-row: 4/5;
}

footer {
	grid-row: 5/6;
}

.sidebar {
	margin-right: 20px;
	position: fixed;
	top: 0;
	right: 0;
}

.wrapper {
	font: 9px "lora", serif;
	background: rgb(238, 238, 238);
	padding: 20px;
	margin-top: 50px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}
.sidebar li {
	line-height: 1.3em;
	display: block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

.sidebar li a:link {
	color: #000000;
}

.sidebar li a:visited {
	color: black;
}

@media (max-width: 1300px) {
	.sidebar {
		position: relative;
		bottom: 0;
		text-align: center;
		margin: 0;
		width: 90%;
	}
}

@media (max-width: 900px) {
	body {
		text-align: center;
	}

	#zen-intro,
	div #zen-supporting {
		display: block;
	}

	#zen-explanation,
	#zen-requirements {
		padding: 10px 50px;
	}

	h2,
	h3 {
		font-size: 1.6em;
	}

	#zen-intro h2 abbr {
		font-size: 3rem;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto 1fr;
		width: 100%;
		max-width: none;
	}

	#design-selection {
		grid-row: 1/2;
	}

	#design-archives {
		grid-row: 3/4;
	}
}
